//Stylization page with museum, branches and units.
.branches{
  padding:50px 0;
  //Views.
  &-item{
    img{
      width:200px;
      height:200px;
      max-height:100%;
    }
    &__title{
      @include fontz(18px,25px,0.02em,capitalize,500,black);
      padding:10px 0;
    }
  }

  //Node.
  &-info{
    &__contact{
      padding:0 15px;
      &-title{
        @include fontz(20px,25px,0.02em,capitalize,500,black);
      }
    }
  }
  &-child-node,
  &-paragraphs{
    padding:40px 0;
  }
  &-description{
    .footer-top__bg-inner-form{
      display: none!important;
    }
    strong{
      padding:10px 0;
      @include fontz(18px,25px,0.02em,capitalize,500,black);
    }
    p {
      padding:10px 0;
    }
  }
}