@import "mixins";
@import "variables";

.rating {
  padding: 50px 0;
  &-view{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
  }
  &-item {
    padding: 50px 40px 90px;

    &:hover {
      box-shadow: 0 2px 20px 0 $darkRed;
    }

    img {
      height: 200px;
      width: 200px;
      max-width: 100%;
    }

    &__title {
      @include fontz(49px, 85px, 0.02rem, uppercase, 700, $black);
    }

    &__top-description {
      height: 150px;
      max-height: 100%;
      border-bottom: 5px solid $darkRed;
      @include fontz(17px, 30px, 0.02rem, none, 700, $black);
      padding-bottom: 50px;
      word-break: break-word;
    }

    &__bottom-description {
      @include fontz(18px, 35px, 0.02rem, none, 700, $black);
      word-break: break-word;
      padding-top: 50px;
      height: 150px;
      max-height: 100%;
    }
  }
}

@media (max-width: $xl) {
  .rating {
    &-item {
      padding: 50px 10px 30px;
      &__title {
        @include fontz(35px, 65px, 0.02rem, uppercase, 700, $black);
      }
      img {
        height: auto;
        width: 150px;
      }
      &__top-description,
      &__bottom-description {
        height: 110px;
        @include fontz(17px, 30px, 0.02rem, none, 700, $black);
      }
      &__bottom-description {
        padding-top:30px;
      }
    }
  }
}
@media (max-width: $lg) {
  .rating {
    &-view{
      grid-template-columns: 1fr 1fr;
      gap:40px;
    }
  }
}
@media (max-width: $md) {
  .rating {
    &-view{
      grid-template-columns: 1fr;
    }
    &-item {
      margin:0 50px;
      &__top-description,
      &__bottom-description {
        margin-top:20px;
        height:95px;
        @include fontz(19px, 30px, 0.02rem, none, 700, $black);
      }
      &__bottom-description {
        padding:0;
      }
    }
  }
}
@media (max-width: $sm) {
  .rating {
    &-item {
      margin:0 10px;
      &__top-description,
      &__bottom-description {
        height: 75px;
        @include fontz(16px, 24px, 0.02rem, none, 700, $black);
      }
    }
  }
}