@import "variables";

.subscriber-container{
  display: flex;
  justify-content: space-between;
  .social-links_block{
    display: flex;
    align-items: center;
    column-gap: 5px;
    a{
      transition: all 0.2s;
      &:hover{
        margin-top: -5px;
      }
    }
  }
  form{
    max-width: 600px;
    width: 100%;
  }
  .subscriber-from-container{
    max-width: 900px;
    width: 100%;
  }
  input{
    background-color: #393d46;
    border: 1px solid $borderGray;
    color: $lightGray;
    padding: 10px;
    outline: none;
    max-width: 450px;
    width: 100%;
    &::placeholder{
      color: $lightGray;
    }
    &:focus{
      border: 1px solid $lightRed;
    }
  }
  button{
    border: 1px solid #8b2b30;
    padding: 11.8px 20px;
    outline: none;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    margin-left: 20px;
    background: #8b2b30;
    cursor: pointer;
  }
}
