$darkRed: #8b2b30;
$lightRed: #a62424;
$lightGray: #e5e5e5;
$dark: #3f444e;
$black: #000;
$darkGray: #A1A1A1;
$borderGray: #d8d8d8;
$plus-icon-size: 30px;
$sm: 480px;
$md: 768px;
$lg: 976px;
$xl: 1200px;